<h1>Sign up</h1>

<!-- 
  the action and the method indicate which route it will submit to
    post "/signup" in app.rb
-->
<form action="/create" method="post">
  <!-- will be stored in the variable params[:username] in app.rb -->
  <input type="text" name="post" placeholder="post">


  <input type="submit" value="Go!">
</form>