<section class="hero">
	<div class="overlay">
		<div class="wrap">
			<h2>A new kind of cake shop</h2>
			<p class="welcometext">Welcome to Warren's Bakery, a revolutionary bakery that will make you rethink what a bakery is. Of course, we serve our client whatever cookies, cakes, and muffins they want. This is where the revolutionry parts comes in. You can come into our shop and AI technologies will determine what your craving of the day is.</p>
			<p><a class="button">Learn more</a></p>
		</div> <!-- wrap -->
	</div> <!--overlay -->	
</section>

				<div class="wrap">
					<section class="features">

						<h2>We’re baking you the perfect muffin</h2>

						<article class="feature">
							<span><img src="/images/chocolate-muffin.jpg" /></span>
							<h3>Private Muffin Service</h3>
							<p>As you walk into the store, our AI bots automatic anlyzing what muffins you are craving and bake it on the fly for you. Our AI quick bake service make sures you will get your AI customized muffin of the day fresh and fast.</p>
						</article>

						<article class="feature">
							<span><img src="/images/mario-cake.jpg" /></span>
							<h3>The Perfect Cake</h3>
							<p>We provide one-on-one consultation serives for all you whole cake needs. Inside on proprietery AI technology we anlyzing your occassion need and prepare the perfect cake for you. Of course, you have ultimate control over the cake's taste's and look and our algorithm provides 96%% customer satisfaction.</p>
						</article>

						<article class="feature">
							<span><img src="/images/emoji-cake.jpg" /></span>
							<h3>Food to Fuel You</h3>
							<p>Our chef prepares everything in-house, fresh to the order. Our inspired carrot cake is a crowd favorite! And be sure to leave our store with our famous CBD brownies!</p>
						</article>

						<article class="feature">
							<span><img src="/images/gingerbread-cookie.jpg" /></span>
							<h3>Yummy Cookies</h3>
							<p>Again out AI algorithm will determine what cookies will facinate what you sight and palate the most. You can buy them individually or in batches. You can customize them as small or as big as you want. But our AI algorithm is 96% accurate is picking the combination you want so that you don't need to wonder for long!</p>
						</article>

					</section><!-- features -->

					<main class="contents">
					
						<h2>For the love of coffee</h2>
						<p>Our AI algoritm wil determ what latte or cappuccino you want, whether it should be frech press of cold brew, or even one of our coffee bean refresher. Our AI algporithm is guaranteed to more than 96% customer satisfaction.</p>
						<p>We have a large and luxurious space for you to enjoy your coffee. Furnished with nice tables and chairs and super-charged wifi, you are welcome to sit all day long to work on your projects with a laptop.</p>
						
						<h3>Private Rooms</h3>
						<p>Our private room is a popular space for people to host parties and business meeting. Equipped with luxrious and customizable furniture you are welcomed to host any event here. Our private roooms are sound-proof and our AI algorithm can again determine the right furnishing and decorations for you. </p>
						<h3>Want Decafe?</h3>
						<p>We have a full range of decafe coffees from a variety of rare beans. Just tell our barista or input into one of our AI bots, and you will have a cup of decafe coffee with the original taste. </p>
						
					</main><!-- main -->

					<aside class="sidebar">
						<h3>Interested in our products?</h3>
						<p>Fill in the following form and we will send our catalogue to you.</p>
						<div class="signup-form">
							<form method="post">
								<input type="text" name="name" placeholder="name">
								<input type="email" name="email" placeholder="email">
								<input type="submit" name="submit" value="submit" target="/">
							</form>
						</div><!-- signup-form -->
					</aside><!-- aside -->

				</div><!-- wrap -->
			</div><!-- site-inner -->	
		
			<section class="testimonials">
				<div class="wrap">

					<h2>What people are saying about our bakery!</h2>

					<article class="testimonial">
						<div class="customer">
							<span class="photo"><img src="/images/bill-de-blasio.jpg" /></span>
							<span class="name">Bill de Blasio</span>
						</div>
						<div class="quote">
							<blockquote>I love this café, there is no need to pick my favorite things anymore. Each time they surprise me with delights.</blockquote>
						</div>
					</article>

					<article class="testimonial">
						<div class="customer">
							<span class="photo"><img src="/images/eric-schmidt.jpg" /></span>
							<span class="name">Eric Schmidt</span>
						</div>
						<div class="quote">
							<blockquote>They bake the perfect cakes. Period. For all my cravings and occasions.</blockquote>
						</div>
					</article>

					<article class="testimonial">
						<div class="customer">
							<span class="photo"><img src="/images/tim-cook.jpg" /></span>
							<span class="name">Tim Cook</span>
						</div>
						<div class="quote">
							<blockquote>I love their cookies. Of course, they use cookies too (pun intended).</blockquote>
						</div>
					</article>

					<article class="testimonial">
						<div class="customer">
							<span class="photo"><img src="/images/melania-trump.jpg" /></span>
							<span class="name">Melania Trump</span>
						</div>
						<div class="quote">
							<blockquote>Nice coffee, nice muffin, perfect AI service. This is the now and future of a bakery.</blockquote>
						</div>
					</article>
					<article class="testimonial">
						<div class="customer">
							<span class="photo"><img src="/images/barack-obama.jpg" /></span>
							<span class="name">Barack Obama</span>
						</div>
						<div class="quote">
							<blockquote>I love their private rooms. Their AI serivces make them suitable for all occasions.</blockquote>
						</div>
					</article>
				</div> <!--wrap -->
			</section><!-- testimonials -->	

		
