

    <section id="products" class="section">
        <section class="imageheader">
        <div class="overlay">
        <div class="container">
            <h2 class="headline">Products</h2>
            <p class="welcometext">Warren's AI bakery is dedicated to high-quality customer services that enhance your daily lifestyles.  Take a look at some of our products.</p>
        </div>
        <!-- container -->
        </div><!--overlay-->
        </section><!--imageheader-->
        <div id="productControls">
            <form>
                <div>
                    <span>Show: </span>
                    <input id="cbCakes" type="checkbox" checked="checked" />
                    <label for="cbCakes">Cakes </label>
                    <input id="cbCookies" type="checkbox" checked="checked" />
                    <label for="cbCookies">Cookies </label>
                    <input id="cbMuffins" type="checkbox" checked="checked" />
                    <label for="cbMuffins">Muffins </label>
                </div>
            </form>
        </div>
        <ul class="product-list">
            <li class="product-item" data-prod_id="CA-01">
                
                <img class="product-image" src="/images/products/cake-custard.jpg" alt="Custard Cake - Product Photo">
                <h2 class="product-name" data-type="cake">Custard Cake</h2>
            </li>
            <li class="product-item" data-prod_id="CA-02">
                
                <img class="product-image" src="/images/products/cake-easter.jpg" alt="Easter Cake - Product Photo">
                <h2 class="product-name" data-type="cake">Easter Cake</h2>
            </li>
            <li class="product-item" data-prod_id="CO-01">
                
                <img class="product-image" src="/images/products/cookie-chocolate-chip.jpg" alt="Chocolate Chip Cookies - Product Photo">
                <h2 class="product-name" data-type="cookie">Chocolate Chip Cookies</h2>
            </li>
            <li class="product-item" data-prod_id="CA-03">
                
                <img class="product-image" src="/images/products/cake-enormous.jpg" alt="Enormous Cakes - Product Photo">
                <h2 class="product-name" data-type="cake">Enormous Cakes</h2>
            </li>
            <li class="product-item" data-prod_id="MF-01">
                <img class="product-image" src="/images/products/muffin-blueberry.jpg" alt="Blueberry Muffin - Product Photo">
                <h2 class="product-name" data-type="muffin">Blueberry Muffin</h2>
            </li>
            <li class="product-item" data-prod_id="CA-04">
                <img class="product-image" src="/images/products/cake-halloween.jpg" alt="Halloween Cake - Product Photo">
                <h2 class="product-name" data-type="cake">Halloween Cake</h2>
            </li>
            <li class="product-item" data-prod_id="CA-05">
                <img class="product-image" src="/images/products/cake-marshmallow.jpg" alt="Marshmallow Cup Cakes - Product Photo">
                <h2 class="product-name" data-type="cake">Marshmallow Cup Cakes</h2>
            </li>
            <li class="product-item" data-prod_id="CA-06">
                <img class="product-image" src="/images/products/cake-ornaments.jpg" alt="Cakes with Ornaments - Product Photo">
                <h2 class="product-name" data-type="cake">Cakes with Ornaments</h2>
            </li>
            <li class="product-item" data-prod_id="CA-07">
                <img class="product-image" src="/images/products/cake-train.jpg" alt="Train Cake - Product Photo">
                <h2 class="product-name" data-type="cake">Train Cake</h2>
            </li>
            <li class="product-item" data-prod_id="CO-02">
                <img class="product-image" src="/images/products/cookie-christmas.jpg" alt="Christmas Cookies - Product Photo">
                <h2 class="product-name" data-type="cookie">Christmas Cookies</h2>
            </li>
            <li class="product-item" data-prod_id="CA-08">
                <img class="product-image" src="/images/products/cake-wedding.jpg" alt="Wedding Cake - Product Photo">
                <h2 class="product-name" data-type="cake">Wedding Cake</h2>
            </li>
            <li class="product-item" data-prod_id="CO-03">
                <img class="product-image" src="/images/products/cookie-gingerbread.jpg" alt="Gingerbread - Product Photo">
                <h2 class="product-name" data-type="cookie">Gingerbread</h2>
            </li>
            <li class="product-item" data-prod_id="MF-02">
                <img class="product-image" src="/images/products/muffin-chocolate.jpg" alt="Chocolate Muffins - Product Photo">
                <h2 class="product-name" data-type="muffin">Chocolate Muffins</h2>
            </li>
            <li class="product-item" data-prod_id="CO-04">
                <img class="product-image" src="/images/products/cookie-heart-shape.jpg" alt="Heart-Shaped Cookies - Product Photo">
                <h2 class="product-name" data-type="cookie">Heart-Shaped Cookies</h2>
            </li>
            <li class="product-item" data-prod_id="MF-03">
                <img class="product-image" src="/images/products/muffin-velvet.jpeg" alt="Velvet Muffins - Product Photo">
                <h2 class="product-name" data-type="muffin">Velvet Muffins</h2>
            </li>
            <li class="product-item" data-prod_id="CO-05">
                <img class="product-image" src="/images/products/cookie-m-and-m.jpg" alt="M and Ms Cookies - Product Photo">
                <h2 class="product-name" data-type="cookie">M and Ms Cookies</h2>
            </li>
            <li class="product-item" data-prod_id="CO-06">
                <img class="product-image" src="/images/products/cookie-macaroon.jpg" alt="Chocolate Macaroons - Product Photo">
                <h2 class="product-name" data-type="cookie">Chocolate Macaroons</h2>
            </li>
            <li class="product-item" data-prod_id="CO-07">
                <img class="product-image" src="/images/products/cookie-jam.jpg" alt="Cookies with Jam fillings - Product Photo">
                <h2 class="product-name" data-type="cookie">Cookies with Jam fillings</h2>
            </li>
        </ul>
        <!-- product-list -->
    </section>
    <!-- #products -->
    <script src="/js/menu.js"></script>

