
   
       
   

    <section class="productsection">
        <div class="headline">
            <h2 >Product Information</h2>
        </div>
         <div class="productinformation">
            <p>Product Name: <span id="productName"></span></p>
            <p>In Stock: <span id="productStock"></span></p>
            <p>Price: $<span id="productPrice"></span></p>
            <p>Description: <span id="productDesc"></span></p>
        </div>       
        <div class="imagewrapper">
            <img id="productimage" src="#">
        </div><!--imagewrapper-->
    </section>
 
   
     <script src="/js/product.js"></script>
