/* Color Palette */
$velvet: rgba(165, 70, 87, 1);
$maroon: rgba(88, 38, 48, 1);
$yellow: rgba(247, 238, 127, 1);
$orange: rgba(241, 166, 106, 1);
$red: rgba(242, 97, 87, 1);

$serif: 'Playfair Display', serif;
$san-serif: 'Raleway', sans-serif;
$default-border-radius: 20px;

$small: 480px;
$medium: 640px;
$large: 960px;